---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <article class="flex flex-col justify-center items-center">
        <h1 class="text-white text-4xl text-center py-4">¡Esta Página no Existe!</h1>
        <img src="https://midu.dev/images/this-is-fine-404.gif" alt="Image for Page Not Found">
    </article>
</Layout>